.App {
  margin: 60px auto;
  max-width: 800px;
}
.container {
  max-width: 720px;
}

.weather {
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  font-family: "Manrope", sans-serif;
  padding: 40px;
  margin-top: 60px;
}

.search-input {
  background-color: #fde1d7;
  border-radius: 8px;
  border-color: #790536;
  font-family: "Manrope", sans-serif;
  height: 42px;
  padding: 0 24px;
}

.search-button {
  background-color: #e95a49;
  border-radius: 8px;
  border-color: #e95a49;
  color: #4c0030;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  height: 42px;
}
.current-location-button {
  background-color: #790536;
  border-radius: 8px;
  border-color: #790536;
  color: #ffffff;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  height: 42px;
}

.row {
  margin-bottom: 40px;
  width: 100%;
  display: block;
  font-family: "Manrope", sans-serif;
}

.col-md-9 {
  width: 100%;
  display: block;
  text-align: left;
}

.forecast-row {
  column-count: 5;
  text-align: center;
}

.forecast-time {
  font-weight: bold;
  color: #4c0030;
}

#city {
  font-weight: bold;
  font-size: 60px;
  color: #4c0030;
}

#today-img {
  width: 100px;
}
#forecast-img {
  width: 70px;
}

strong {
  font-weight: 400;
  font-size: 20px;
  color: #4c0030;
}

small {
  color: #4c0030;
}

h1,
.units,
.temperature {
  font-weight: bold;
  font-size: 60px;
  color: #4c0030;
  font-family: "Manrope", sans-serif;
}
p {
  font-weight: bold;
  font-size: 20px;
  color: #4c0030;
}

a,
a:link,
a:visited {
  font-size: 16px;
  color: white;
  font-family: "Manrope", sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
}

body {
  background: url(https://www.wallpaperflare.com/static/919/780/945/minimalism-landscape-digital-art-mountains-wallpaper.jpg)
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
input {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  display: block;
  margin: 0 auto;
}
div {
  display: block;
  margin: 0 auto;
}
li {
  list-style: none;
  text-align: center;
}
